
body {
  background-image: url(); /* MAKE THIS AN HREF TO RANDOM BACKGROUND IMG */
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "Raleway", sans-serif;
}


.form-container {

}

.name-form {

}

.address-form {

}



.submit-button {

}