body {
  background: 	#00008B;
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
  text-align: center;
  flex: auto;
  justify-items: center;
  margin-bottom: 3em;
}


form {
  padding-top: 1em;
  justify-content: center;
}


.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.description {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1em;
}

.courseinfo{
  color:#eea493;
}

.required {
  font-style: italic;
}


.user-entry-field {
  height: 40px;
  width: 40%;
  min-width: 250px;
  border-radius: 9px;
  padding:30px;
}

.text-entry-button {
  border: 30px;
}

.newform {
  font-size: 13px; 
  color: #e46c51;
}

.newform:hover {
  color: #e46c51;
  cursor: pointer;
}


.submitbutton {
  width: 175px;
  height: 46px;
  background: #eb917d;
  font-family: inherit;
  font-weight: bold;
  font-size: large;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 6px;
  cursor: pointer;
  margin-top:15px;
}
  

.submitbutton:hover {
  background: #eb917d;
  margin-top: 17px;
}


/*------- verification.html only ---------*/

table {
  width: "80%";
  border: "5";
}

.data-display {
  
}

  