<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Data Survey Verification</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:400,700'>
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <link rel="icon" href="../static/favicon.png">
</head>

<body>
  <div class='header'>
    <p class='header1st'>Katie Kennedy</p>
    <p class='header2nd'>Data Survey Form</p>
    <p class='header2nd'>&#9730;</p>
    <p class='header2nd'>Verification</p>
  </div>

  <div class="description">
    <p>Thanks for submitting your info. Below is a confirmation of your responses.</p>
  </div>

  </br></br>
  
  <!------- results display ---------->
  <div>
    <table>
      <tr> <th>Name: </th>
         <td> {{ form.firstname }} {{ form.lastname }} </td>
      </tr>
      </br>
      <tr> <th>Address: </th>
        <td> {{ form.streetaddress }} </br>
             {{ form.city }}, {{ form.stateUSA }} </br>
             {{ form.zipcode }}
        </td>
      </tr>
      </br>
      <tr> <th>Phone: </th>
        <td> {{ form.phone }} </td>
      </tr>
      </br>

      <tr> <th>Email: </th>
        <td> {{ form.email }} </td>
      </tr>
      </br>

      <tr> <th>Height: </th>
        <td> {{ form.feet }}' {{  form.inches }}" </td>
     </tr>
     </br>

     <tr> <th>Education level: </th>
        <td> {{ form.edu }} </td>
     </tr>
     </br>

    </table>
  </div>
  <!---------------------------------->


  <!---------- google maps ----------->
  <div>


  </div>
  <!---------------------------------->
  
  </br></br>

  <!-------- new form button --------->
  <a class='newform' href='/'> Click here to submit another data survery form </a>
  <!---------------------------------->

</body>
</html>