<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Data Survey Verification</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="../static/favicon.png">
</head>

<body>
  <div class="header">
    <p class="courseinfo">Katie Kennedy</p>
    <p >Data Survey Form</p>
    <p >&#9730;</p>
    <p>Verification</p>
  </div>

  <div class="description">
    <p>Thanks for submitting your info. Below is a confirmation of your responses.</p>
  </div>

  </br></br>
  
  <!----------- results display ------------->
  <div class='data-display'>
    {% for item in data %}
      {{ key }}:  {{ value }}
    {% endfor %}
  </div>
  
  </br></br>

  <!-------- new form button --------->
  <a class='newform' href='/'> Click here to submit another data survery form </a>

</body>
</html>